<!--
<!-<div class="row">->
    <div class="{{rowStyleClass}}  clearfix">
        <div class="container">
            <div class="row pull-left" style="margin:0px;width: 100%">
                <div class="col-sm-6 col-md-6 col-lg-6 pull-left">                
                    <div class="pull-left">
                        <h2 class="text--md text--light text--black">{{featureTitle}}</h2>
                        {{featureDescription}} 
                    </div>
                </div>

                <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 imageContainer pull-right">
                    <div class="imageDisplay pull-right">
                    <img class="img-responsive imageDisplay col-sm-4 col-md-3 col-lg-4 middle" alt="" src="{{featureImage}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->

<!--style="display:inline-block;min-height: 390px;"-->

<div *ngIf="iconArrangementNormal" class="col-xs-12 col-sm-4 col-md-3 col-lg-3  {{columnOffset}} clearfix" style="min-height: 250px;height: inherit" >
    <div style="text-align: center">
        <span style="padding-bottom:30px">
            <img width="120" height="120"
                src="{{featureImage}}" />
        </span>
    </div>
    <div style="margin-top:15px;margin-bottom:15px;">
        <h6><p style="text-align: center;">{{featureTitle}}</p></h6>
    </div>
    <p style="text-align: center;">{{featureDescription}}</p>
</div>


<div *ngIf="iconArrangementTight" class="col-xs-12 col-sm-4 col-md-2 col-lg-2  {{columnOffset}} clearfix" style="min-height: 250px;height: inherit" >
    <div style="text-align: center">
        <span style="padding-bottom:30px">
            <img width="120" height="120"
                src="{{featureImage}}" />
        </span>
    </div>
    <div style="margin-top:15px;margin-bottom:15px;">
        <h6><p style="text-align: center;">{{featureTitle}}</p></h6>
    </div>
    <p style="text-align: center;">{{featureDescription}}</p>
</div>

