<footer>

<div style="height: 20px"></div>

    <div class="container footer-container-fluid top-padding bottom-padding">
        <div class="row">
            <div class="col-md-5">
                <h4>How Can We Work Together?</h4>
                <p>Whether you want to transform your business, advance your career, or simply find out more about what
                    we're doing, this is the place.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h6>EMAIL</h6>
                <p class="info-top-line">
                <a href="mailto:info@cosmos.ai?Subject=How%20can%20we%20work%20together" target="_top">info@cosmos.ai</a>
                </p>
                <h6 class="footer-spacing">PHONE</h6>
                <p class="info-top-line">+1 206 816 8800</p>
            </div>
            <div class="col-md-3">
                <h6 class="medium-top-padding">LOCATION</h6>
                <p class="info-top-line info-with-more">Publicis COSMOS&trade; Global Development and Research Center</p>
                <p>424 2nd Avenue West</p>
                <p>Seattle, WA 98119</p>
                <a href="https://www.google.com/maps/place/Publicis+Seattle/@47.622363,-122.3612364,17z/data=!3m1!4b1!4m5!3m4!1s0x549015431353a267:0x8ff6315436e7bcf4!8m2!3d47.622363!4d-122.3590477">
                    View map
                </a>
            </div>
        </div>
    </div>



    <footer class="footer-copyright-area">
        <div class="fusion-row">
            <div class="copyright-content">
                <div class="copyright-notice">
                    <div>© Copyright <script>document.write(new Date().getFullYear());</script>2017 Publicis All rights reserved
                        &nbsp;
                        <sup>.</sup>
                        &nbsp;
                        <a [routerLink]="['/terms']">Terms</a>
                        &nbsp;
                        <sup>.</sup>
                        &nbsp;
                        <a [routerLink]="['/privacy']">Privacy</a>
                        <sup>.</sup>
                        &nbsp;
                        <a [routerLink]="['/cosmos-privacy']">COSMOS Privacy</a>
                    </div>
                </div>
                <div class="social-networks">
                    <div>
                        <a title="Linkedin" class="fusion-social-network-icon"
                            href="https://www.linkedin.com/company/publicis-groupe" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a title="Twitter" class="fusion-social-network-icon middle-icon"
                            href="https://twitter.com/PublicisGroupe" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a title="Facebook" class="fusion-social-network-icon" href="https://www.facebook.com/publicisgroupe/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</footer>
