.output-section {
    width:100%;
    height: inherit;
    background-color: lightgray;
    
}

.output-section-formatted-content {
    width:100%;
    height: 208px;
    border:  1px solid #ddd
}

.code-noButtons {
    border: none;
    background-color: #f5f5f5;
    min-height:160px;
    height: 100%;
    width:100%;
    overflow-x:scroll;
    overflow-y: scroll;
}

.code-withButtons {
    border: none;
    background-color: #f5f5f5;
    min-height:160px;
    height: 100%;
    width:100%;
    overflow-x:scroll;
    overflow-y: scroll;
}


.code-container-withButtons
{
    min-height:160px;
    height: calc(100% - 34px);
    top: 34px;
    width:100%;
}


.code-container-noButtons
{
    min-height:160px;
    height: inherit;
    width:100%;
}
