<div>
    <h2>{{screenTitle}}</h2>
    <h6 *ngIf="showProjectDetails">{{projectName}} - {{projectCode}}</h6>
</div>
<div>
    <div id="project-layout-left-menu">
        <div class="btn btn-info" *ngIf="showBackButton" (click)="backEvent()">{{backButtonText}}</div>
        <div class="btn btn-info" *ngIf="showAdditionalActionButton" (click)="additionalActionEvent()">{{additionalActionButtonText}}</div>
    </div>
    <div id="project-layout-right-menu" *ngIf="showRightMenu">
        <div class="col-md-6">
            <label>Subscription Status:</label> Active                              
        </div>
        <div class="col-md-6">
            <a class="pull-right" (click)="cancelAllClickEvent()">Cancel All Subscriptions</a>
        </div>
    </div>
</div>
<div class="filler"></div>
<div class="filler"></div>

<div>
    <ng-content select="[page-content]"></ng-content>
</div>