<face-detection-component></face-detection-component>
<face-verification-component></face-verification-component>

<div class="container" style="margin-top: 70px;">
    <div class="row" style="text-align: center;margin-bottom:35px">
        <div class="col-sm-4">
            <div style="text-align: center">
                <span style="padding-bottom:30px">
                    <img width="120" height="120"
                        src="https://cosmosstore.blob.core.windows.net/cognitive-creative-content/Vision/Face/Face%20Identification/FaceIdentification.svg" />
                </span>
            </div>
            <div style="margin-top:15px;margin-bottom:15px;">
                <h6>
                    <p style="text-align: center;">FACE IDENTIFICATION</p>
                </h6>
            </div>
            <p>
                Search and identify faces. 
                Tag people and groups with user-provided data and then search those for a match with previously unseen faces.
            </p>
        </div>
        <div class="col-sm-4">
            <div style="text-align: center">
                <span style="padding-bottom:30px">
                    <img width="120" height="120"
                        src="https://cosmosstore.blob.core.windows.net/cognitive-creative-content/Vision/Face/Similar%20Face%20Searching/SimilarFaceSearching.svg" />
                </span>
            </div>
            <div style="margin-top:15px;margin-bottom:15px;">
                <h6>
                    <p style="text-align: center;">SIMILAR FACE SEARCHING</p>
                </h6>
            </div>
            <p>
                Easily find similar-looking faces. 
                Given a collection of faces and a new face as a query, this API will return a collection of similar faces.
            </p>
        </div>
        <div class="col-sm-4">
            <div style="text-align: center">
                <span style="padding-bottom:30px">
                    <img width="120" height="120"
                        src="https://cosmosstore.blob.core.windows.net/cognitive-creative-content/Vision/Face/Face%20Grouping/FaceGrouping.svg" />
                </span>
            </div>
            <div style="margin-top:15px;margin-bottom:15px;">
                <h6>
                    <p style="text-align: center;">FACE GROUPING</p>
                </h6>
            </div>
            <p>
                Organize many unidentified faces together into groups, based on their visual similarity.
            </p>
        </div>
    </div>
</div>
