<div class="maindiv">
        <div class="container alignright" >
            
        <api-details-header 
            apiTitle="Search faster with Bing search suggestions as you type"
            apiDescription="Help users complete queries faster by adding intelligent type-ahead capabilities to your app or website. Try out the demo. Start typing on the search box to retrieve search suggestions."
            rowStyleClass="tablerow1"
        >

            <div api-content>
                <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-section">
                            <div class="input-group">
                                <input [ngModel]="searchKeyword" (ngModelChange)="changed($event)"
                                        placeholder="Start typing..."
                                        (keydown.Enter)="autosuggest()" class="form-control" />
                                <div class="input-group-btn">
                                    <button class="btn btn-info" (click)="autosuggest()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="parameters-section">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-parent="#accordion">
                                        <!--<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseParameters">-->
                                            <h4 class="panel-title">
                                                <a>Parameters</a>
                                            </h4>
                                        </div>
                                        <div id="collapseParameters" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Market</span>
                                                    <select [(ngModel)]="market" (change)="autosuggest()" class="btn btn-info form-control">
                                                        <option *ngFor='let mrkt of marketChoices'
                                                                [value]='mrkt'>{{mrkt}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <output-section style="height: 240px"
                            [showButtons]="showCodeButtons" 
                            [isApiResultLoading]="isLoading"
                            buttonContextText="Search Results" 
                            jsonText="{{ searchResult | json }}"
                        >
                                <div formatted-output style="height: 205px;overflow-y:scroll;padding: 10px;">
                                    <table class="table table-bordered" [hidden]="showJSON">
                                        <tr *ngFor='let result of formattedResults'>
                                            <td><a [href]="result.url" target="_blank">{{result.displayText}}</a></td>
                                        </tr>
                                    </table>
                                </div>
                        </output-section>
                    </div>
                </div>

            </div>
        </api-details-header>
</div>


