h2 {
    text-align: center;
}
.input-section {
    height: 240px;
}
.parameters-section {
    padding-top:10px;
}
.result-section {
    height: 440px;
}
.result-section table {
    background-color:white;
}

.result-section td {
    width:50px;
}

